Package: com.r0wdrunner.tabsa
Name: Tabsa
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 1.0
Architecture: iphoneos-arm
Description: Tabs in Safari
Maintainer: R0wDrunner
Author: R0wDrunner
Section: Tweaks
Depiction: https://r0wdrunner.github.io/repo/depictions/?p=com.r0wdrunner.tabsa
